@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@config "../../tailwind.config.ts";

html,
body {
  @apply leading-[normal] m-0;
  background: transparent;
}

@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}

@layer utilities {
  .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
}
